<apex:page standardController="Contact" recordSetVar="contacts"
           applyBodyTag="false"
           applyHtmlTag="false"
           cache="false"
           contentType="text/HTML"
           docType="html-5.0"
           renderAs="pdf"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false">
    <head>
        <style type="text/css">
            @page {
                margin-top: 0.1in;
                margin-right: 0.1in;
                margin-bottom: 0.1in;
                margin-left: 0.1in;
                padding-top: 0in;
                /*border: 1px solid black;*/
                size: {!NULLVALUE($CurrentPage.parameters.pageSize, '4in 2.75in')};
            }

            .rpt {
                margin: 0 auto;
                width: 100%;
            }

            .rpt + .rpt {
                page-break-before: always;
            }

            td.centered table {
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
    <apex:outputPanel rendered="{!selected[0] == null}">
        <div style="text-align:center">Please select at least one contact, prior to clicking the button.</div>
    </apex:outputPanel>
    <apex:repeat value="{!selected}" var="c">
        <div class="rpt" style="border: 1px solid black; text-align:center; margin-top:10px;">
            <table width="100%">
                <tr>
                    <td style="text-align:center;">
                        <br/>
                        Hello! My name is:
                        <br/><br/>
                        <apex:outputText style="font-weight:bold;" value="{!c.Name}"/>
                        <br/><br/>
                        ...and my 18-char Salesforce ID is:<br/><br/>
                    </td>
                </tr>

                <tr>
                    <td class="centered">
                        <c:barcode value="{!c.Id}" height="50"/>
                    </td>
                </tr>
            </table>
            <br/>
        </div>
    </apex:repeat>
    </body>
</apex:page>