<apex:page applyHtmlTag="false"
           cache="false"
           contentType="text/HTML"
           docType="html-5.0"
           renderAs="pdf"
           showHeader="false"
           sidebar="false"
           standardController="Product2"
           standardStylesheets="false">
    <head>
        <style type="text/css">
            @page {
                margin-top: 0.25in;
                margin-right: 0.25in;
                margin-bottom: 0.25in;
                margin-left: 0.25in;
                padding-top: 0in;
                border: 1px solid black;
                size: {!NULLVALUE($CurrentPage.parameters.pageSize, '4in 2.5in')};
            }

            div.barcode div table {
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <c:barcodeLabel_Product product="{!Product2}" />
    </body>
</apex:page>