<apex:page applyHtmlTag="false"
           cache="false"
           contentType="text/HTML"
           docType="html-5.0"
           renderAs="pdf"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           StandardController="Campaign"
           extensions="GMBLBC.CampaignAttendeesScannerController">

    <head>
        <style type="text/css">
            @page {
                margin-top:0.25in;
                margin-right:0.25in;
                margin-bottom:0.25in;
                margin-left:0.25in;
                padding-top: 0in;
                border: 1px solid black;
                size: {!NULLVALUE($CurrentPage.parameters.pageSize, '4in 2.5in')};
            }

            .rpt {
                margin: 0 auto;
                width: 100%;
            }

            .rpt + .rpt {
                page-break-before: always;
            }

            .barcode div table{
                margin: 0 auto;
            }
        </style>
    </head>

    <body>
    <apex:outputPanel rendered="{!all.size == 0}">
        <div style="text-align:center">Please select at least one Contact, prior to clicking the button.</div>
    </apex:outputPanel>
    <apex:repeat value="{!all}" var="l">
        <div class="rpt" style="border: none; text-align:center;">
            <div>
                <div style="margin-top:10px;">
                    {!l.Campaign.Name}
                </div>
                <br/>
                <br/>
                {!l.FirstName + ' ' + l.LastName}
            </div>

            <apex:outputPanel rendered="{!!ISBLANK(l['Id'])}">
                <div class="barcode">
                    <c:barcode value="{!IF(l['ContactId'] != '',l['ContactId'],l['LeadId'])}" height="30"/>
                </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!ISBLANK(l['Id'])}">
                <div>
                    No Barcode
                </div>
            </apex:outputPanel>
        </div>
    </apex:repeat>
    </body>
</apex:page>