<apex:page standardController="Contact" recordSetVar="contacts"
           applyBodyTag="false"
           applyHtmlTag="false"
           cache="false"
           contentType="text/HTML"
           docType="html-5.0"
           renderAs="pdf"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false">
    <head>
        <style type="text/css">
            @page {
                margin-top: 0.1in;
                margin-right: 0.1in;
                margin-bottom: 0.1in;
                margin-left: 0.1in;
                padding-top: 0in;
                border: 1px solid black;
                size: {!NULLVALUE($CurrentPage.parameters.pageSize, '4in 2.75in')};
            }

            .rpt {
                margin: 0 auto;
                width: 100%;
            }

            .rpt + .rpt {
                page-break-before: always;
            }

            .barcode div table {
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
    <apex:outputPanel rendered="{!selected[0] == null}">
        <div style="text-align:center">Please select at least one Contact, prior to clicking the button.</div>
    </apex:outputPanel>
    <apex:repeat value="{!selected}" var="c">
        <c:barcodeLabel_Contact contact="{!c}" />
    </apex:repeat>
    </body>
</apex:page>