<apex:page controller="LeaderboardVFController" standardStylesheets="false" >
    <apex:stylesheet value="{!URLFOR($Resource.slds100, '/assets/styles/salesforce-lightning-design-system.min.css')}" />    
    
    
    
    <apex:form id="tabRegion"  >
        <div class="slds-tabs--scoped" >
            <ul class="slds-tabs--scoped__nav" role="tablist">
                <li class="slds-tabs--scoped__item slds-text-heading--label {!IF((selectedTab == 'result'),'slds-active','')}" title="{!$Label.ypsResult}" role="presentation">
                    <apex:commandlink styleClass="slds-tabs--scoped__link" rerender="tabRegion"  value="{!$Label.ypsResult}" id="resultTab">
                        <apex:param name="resultTab" value="result" assignto="{!selectedTab}" />
                    </apex:commandlink>
                </li>
                
                <li class="slds-tabs--scoped__item slds-text-heading--label {!IF((selectedTab == 'score'),'slds-active','')}" title="{!$Label.ypsScore}" role="presentation">                   
                    <apex:commandlink styleClass="slds-tabs--scoped__link" rerender="tabRegion"  value="{!$Label.ypsScore}" id="scoreTab">
                        <apex:param name="scoreTab" value="score" assignto="{!selectedTab}" />
                    </apex:commandlink>
                </li>
                
                <li class="slds-tabs--scoped__item slds-text-heading--label {!IF((selectedTab == 'q1'),'slds-active','')}" title="{!$Label.Q1}" role="presentation">                   
                    <apex:commandlink styleClass="slds-tabs--scoped__link" rerender="tabRegion"  value="{!$Label.Q1}" id="q1Tab">
                        <apex:param name="q1Tab" value="q1" assignto="{!selectedTab}" />
                    </apex:commandlink>
                </li> 
                
                
                <li class="slds-tabs--scoped__item slds-text-heading--label {!IF((selectedTab == 'q2'),'slds-active','')}" title="{!$Label.Q2}" role="presentation">                   
                    <apex:commandlink styleClass="slds-tabs--scoped__link" rerender="tabRegion"  value="{!$Label.Q2}" id="q2Tab">
                        <apex:param name="q2Tab" value="q2" assignto="{!selectedTab}" />
                    </apex:commandlink>
                </li> 
                
                
                <li class="slds-tabs--scoped__item slds-text-heading--label {!IF((selectedTab == 'q3'),'slds-active','')}" title="{!$Label.Q3}" role="presentation" >                   
                    <apex:commandlink styleClass="slds-tabs--scoped__link" rerender="tabRegion"  value="{!$Label.Q3}" id="q3Tab">
                        <apex:param name="q3Tab" value="q3" assignto="{!selectedTab}" />
                    </apex:commandlink>
                </li> 
                
                <li class="slds-tabs--scoped__item slds-text-heading--label {!IF((selectedTab == 'q4'),'slds-active','')}" title="{!$Label.Q4}" role="presentation" >                   
                    <apex:commandlink styleClass="slds-tabs--scoped__link" rerender="tabRegion"  value="{!$Label.Q4}" id="q4Tab">
                        <apex:param name="q4Tab" value="q4" assignto="{!selectedTab}" />
                    </apex:commandlink>
                </li> 
                  <!-- this tab is hidden in August 2018 and will be opened in Jan 2019 as per request-->
                <!--
                <li class="slds-tabs--scoped__item slds-text-heading--label {!IF((selectedTab == 'PYscore'),'slds-active','')}" title="{!$Label.yps_Last_Year}" role="presentation">                   
                    <apex:commandlink styleClass="slds-tabs--scoped__link" rerender="tabRegion"  value="{!$Label.yps_Last_Year}" id="PYscoreTab">
                        <apex:param name="PYscoreTab" value="PYscore" assignto="{!selectedTab}" />
                    </apex:commandlink>
                </li>-->
                <li class="slds-tabs--scoped__item slds-text-heading--label {!IF((selectedTab == 'pointtab'),'slds-active','')}" title="{!$Label.Point_Tab}" role="presentation">                   
                    <apex:commandlink styleClass="slds-tabs--scoped__link" rerender="tabRegion"  value="{!$Label.Point_Tab}" id="pointexptab">
                        <apex:param name="pointexp" value="pointtab" assignto="{!selectedTab}" />
                    </apex:commandlink>
                </li>
            </ul>
            
            <div id="tab-scoped-1" class="slds-tabs--scoped__content  {!IF((selectedTab == 'result'),'slds-show','slds-hide')}" role="tabpanel" aria-labelledby="tab-scoped-1__item">
                <apex:outputPanel rendered="{!selectedTab == 'result'}" id="resultPanel" layout="block">
                    <ul class="slds-list--vertical slds-has-dividers--bottom-space slds-has-selection"> 
                        
                        <apex:variable value="1" var="resultRank"/>
                        <apex:repeat value="{!results}" var="s">
                            <li class="slds-list__item">
                                <div class="slds-grid slds-wrap">                            
                                    <div class="slds-media slds-tile">
                                        <!--<div class="slds-truncate" title="UserDet"></div>-->
                                            <table class="slds-table slds-wrap slds-table_cell-buffer">
                                            <thead>
                                                <tr class="slds-text-title_caps">
                                                    <th scope="col">
                                                        <div class="slds-truncate" title="UserDet"></div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 150px; font-weight : bold ">
                                                        <div class="slds-truncate" title="UserName">{!$Label.CG_Leaderboard_UserName}</div>
                                                         
                                                    </th>
                                                    <th scope="col" style="width : 170px; font-weight : bold ">
                                                        <div class="slds-truncate" title="UserTeam">{!$Label.CG_Leaderboard_SalesTeam}</div>
                                                    </th>
                                                    <th scope = "col" style="font-weight : bold ">
                                                        <div class = "slds-truncate" title="UserResult">Resultat</div>
                                                    </th>
                                                    <th scope = "col" style="font-weight : bold ">
                                                        <div class = "slds-truncate" title="ResultatUpdateDate">{!$Label.CG_Leaderboard_Resultat_Update_Date}</div>
                                                    </th>
                                                </tr> 
                                            </thead>           
                                            <tbody>        
                                                <td>                                
                                                    <div class="slds-media__figure">
                                                        <span class="slds-avatar slds-avatar--circle slds-avatar--small">
                                                            <img src="{!s.User_Performance__r.User__r.SmallPhotoUrl}" alt="person's name" /> 
                                                        </span>
                                                        <span class="slds-badge slds-theme--shade">
                                                            {!resultRank}
                                                            <apex:variable var="resultRank" value="{!VALUE(resultRank) + 1}"/>
                                                        </span>
                                                    </div>                                 
                                                </td>
                                                <td>      
                                                    <p class="slds-tile__title slds-truncate name">
                                                        <a href="/apex/MyPerformance?ypsId={!s.Id}"> {!s.User_Performance__r.User__r.Name}</a> 
                                                    </p>                                                         
                                                </td>
                                                <td>
                                                    <p class = "slds-tile__title slds-truncate name">{!s.Cygate_Sales_Team__c}
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class = "slds-text-heading--label points">{!s.result__c}%</p>
                                                </td>
                                                <td>
                                                    <p class = "slds-tile__title slds-truncate name">{!s.Resultat_Update_Date__c}</p>
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                                  
                                    <!--<div class="slds-col--bump-left">
                                    <table> 
                                        <thead>
                                        <tr class="slds-text-title_caps"> 
                                        
                                        <th scope="col">
                                        <span>
                                        <div class="slds-truncate" title="UserName"> Resultat</div>
                                        </span>
                                        </th>
                                        
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <td>
                                        <span>
                                        <!--<div class="slds-text-heading--label points">-->
                                        <!--<div>
                                        <p  class="slds-tile__title slds-truncate name">{!CEILING(s.Result__c)} %</p>
                                        
                                        </div>  
                                        </span>
                                        </td>
                                        </tbody>
                                        </table>
                                    </div>-->
                                </div>
                            </li>
                        </apex:repeat> 
                    </ul>
                </apex:outputPanel>
            </div>
            <div id="tab-scoped-2" class="slds-tabs--scoped__content {!IF((selectedTab == 'score'),'slds-show','slds-hide')}" role="tabpanel" aria-labelledby="tab-scoped-2__item"> 
                
                
                <apex:outputPanel rendered="{!selectedTab == 'score'}" id="scorePanel" layout="block">
                    <ul class="slds-list--vertical slds-has-dividers--bottom-space slds-has-selection">
                        
                        <apex:variable value="1" var="scoreRank"/>
                        <apex:repeat value="{!scores}" var="s">                    
                            <li class="slds-list__item">
                                <div class="slds-grid slds-wrap">                            
                                    <div class="slds-media slds-tile">
                                        <table class="slds-table slds-wrap slds-table_cell-buffer">
                                            <thead>
                                                <tr class="slds-text-title_caps">
                                                    <th scope="col">
                                                        <div class="slds-truncate" title="Userrank"></div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 100px; font-weight : bold">
                                                        <div class="slds-truncate" title="User">User</div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 170px; font-weight : bold">
                                                        <Div Class = 'slds-truncate' title = "UserTeam">{!$Label.CG_Leaderboard_SalesTeam}</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund">Befintlig Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ny Kund">Ny Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">Befintlig Kund Ny Kontakt</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Bredda Affären">Bredda Affären</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">Växa Befintlig Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">Öka Avtalad Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Sambesök">Sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ej sambesök">Ej sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Points">{!$Label.CG_Leaderboard_Points}</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Userrank">
                                                        <div class="slds-truncate" title="Userrank">
                                                            <div class="slds-media__figure">
                                                                <span class="slds-avatar slds-avatar--circle slds-avatar--small">
                                                                    <img src="{!s.User_Performance__r.User__r.SmallPhotoUrl}" alt="person's name" />
                                                                </span>
                                                                <span class="slds-badge slds-theme--shade">
                                                                    {!scoreRank}
                                                                    <apex:variable var="scoreRank" value="{!VALUE(scoreRank) + 1}"/>
                                                                </span>
                                                            </div>     
                                                        </div>
                                                    </td>
                                                    <td data-label="User">
                                                        <div class="slds-truncate" title="User" style="width : 120px">
                                                            
                                                            <p class="slds-tile__title">
                                                                <a  href="/apex/MyPerformance?ypsId={!s.Id}"> {!s.User_Performance__r.User__r.Name}</a>
                                                            </p>
                                                        </div>                                                                            
                                                    </td>
                                                    <td>     
                                                        <div class = "slds-truncate" title="userTeam">{!s.Cygate_Sales_Team__c}</div>    
                                                    </td>
                                                    <td data-label="Befintlig Kund">
                                                        <div class="slds-truncate" title="Befintlig Kund">{!s.Befintlig_Kund__c * 2} P</div>
                                                    </td>
                                                    <td data-label="Ny Kund">
                                                        <div class="slds-truncate" title="Ny Kund">{!s.Ny_Kund__c *6} P</div>
                                                    </td>
                                                    <td data-label="Befintlig Kund Ny Kontakt">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">{!s.Befintlig_Kund_Ny_Kontakt__c *4} P</div>
                                                    </td>
                                                    <td data-label="Bredda Affären">
                                                        <div class="slds-truncate" title="Bredda Affären">{!s.Bredda_Aff_ren__c *4} P</div>
                                                    </td>
                                                    <td data-label="Växa Befintlig Affär">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">{!s.V_xa_Befintlig_Aff_r__c *2} P</div>
                                                    </td>
                                                    <td data-label="Öka Avtalad Affär">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">{!s.ka_Avtalad_Aff_r__c *4} P</div>
                                                    </td>
                                                    <td data-label="Sambesök">
                                                        <div class="slds-truncate" title="Sambesök">{!s.Sambes_k__c *4} P</div>
                                                    </td>
                                                    <td data-label="Ej sambesök">
                                                        <div class="slds-truncate" title="Ej sambesök">{!s.Esambes_k__c *2} P</div>
                                                    </td>
                                                    <td data-label="Points">
                                                        <div class="slds-truncate" title="Points">{!s.Total_Points__c} P</div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>                                                  
                                    </div>  
                                    <div class="slds-col--bump-left">
                                        <div class="slds-text-heading--label points">{!s.Total_Score__c} P</div>  
                                    </div>  
                                </div>
                            </li>
                        </apex:repeat> 
                    </ul>
                </apex:outputPanel>
            </div>
            
            
            <div id="tab-scoped-3"  class="slds-tabs--scoped__content {!IF((selectedTab == 'q1'),'slds-show','slds-hide')}" role="tabpanel" aria-labelledby="tab-scoped-3__item"> 
                
                <apex:outputPanel rendered="{!selectedTab == 'q1'}" id="q1Panel" layout="block">
                    <ul class="slds-list--vertical slds-has-dividers--bottom-space slds-has-selection">
                        
                        <apex:variable value="1" var="scoreRank"/>
                        <apex:repeat value="{!q1}" var="s">                    
                            <li class="slds-list__item">
                                <div class="slds-grid slds-wrap">                            
                                    <div class="slds-media slds-tile" >
                                        
                                        <table class="slds-table slds-wrap slds-table_cell-buffer">
                                            <thead>
                                                <tr class="slds-text-title_caps">
                                                    <th scope="col">
                                                        <div class="slds-truncate" title="Userrank"></div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 100px;font-weight : bold">
                                                        <div class="slds-truncate" title="User">User</div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 170px; font-weight : bold">
                                                        <Div Class = 'slds-truncate' title = "UserTeam">{!$Label.CG_Leaderboard_SalesTeam}</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund">Befintlig Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ny Kund">Ny Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">Befintlig Kund Ny Kontakt</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Bredda Affären">Bredda Affären</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">Växa Befintlig Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">Öka Avtalad Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Sambesök">Sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ej sambesök">Ej sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Points">Points</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Userrank">
                                                        <div class="slds-truncate" title="Userrank">
                                                            <div class="slds-media__figure">
                                                                <span class="slds-avatar slds-avatar--circle slds-avatar--small">
                                                                    <img src="{!s.User_Performance__r.User__r.SmallPhotoUrl}" alt="person's name" />
                                                                </span>
                                                                <span class="slds-badge slds-theme--shade">
                                                                    {!scoreRank}
                                                                    <apex:variable var="scoreRank" value="{!VALUE(scoreRank) + 1}"/>
                                                                </span>
                                                            </div>     
                                                        </div>
                                                    </td>
                                                    <td data-label="User">
                                                        <div class="slds-truncate" title="User" style="width : 120px">
                                                            
                                                            <p class="slds-tile__title">
                                                                <a  href="/apex/MyPerformance?ypsId={!s.Yearly_Performance_Score__c}"> {!s.User_Performance__r.User__r.Name}</a>
                                                            </p>
                                                        </div>                                                                            
                                                    </td>
                                                    <td>     
                                                        <div class = "slds-truncate" title="userTeam">{!s.Yearly_Performance_Score__r.Cygate_Sales_Team__c}</div>    
                                                    </td>
                                                    <td data-label="Befintlig Kund">
                                                        <div class="slds-truncate" title="Befintlig Kund">{!s.Befintlig_Kund__c * 2} P</div>
                                                    </td>
                                                    <td data-label="Ny Kund">
                                                        <div class="slds-truncate" title="Ny Kund">{!s.Ny_Kund__c *6} P</div>
                                                    </td>
                                                    <td data-label="Befintlig Kund Ny Kontakt">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">{!s.Befintlig_Kund_Ny_Kontakt__c *4} P</div>
                                                    </td>
                                                    <td data-label="Bredda Affären">
                                                        <div class="slds-truncate" title="Bredda Affären">{!s.Bredda_Aff_ren__c *4} P</div>
                                                    </td>
                                                    <td data-label="Växa Befintlig Affär">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">{!s.V_xa_Befintlig_Aff_r__c *2} P</div>
                                                    </td>
                                                    <td data-label="Öka Avtalad Affär">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">{!s.ka_Avtalad_Aff_r__c *4} P</div>
                                                    </td>
                                                    <td data-label="Sambesök">
                                                        <div class="slds-truncate" title="Sambesök">{!s.Sambes_k__c *4} P</div>
                                                    </td>
                                                    <td data-label="Ej sambesök">
                                                        <div class="slds-truncate" title="Ej sambesök">{!s.Esambes_k__c *2} P</div>
                                                    </td>
                                                    <td data-label="Points">
                                                        <div class="slds-truncate" title="Points">{!s.Total_Points__c} P</div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                       </table>
                                    </div>
                                    <div class="slds-col--bump-left">
                                        <div class="slds-text-heading--label points">{!s.Total_Points__c} P</div>  
                                    </div>                                   
                                </div>
                            </li>
                        </apex:repeat> 
                    </ul>
                </apex:outputPanel>
            </div>
            
            <div id="tab-scoped-4" class="slds-tabs--scoped__content {!IF((selectedTab == 'q2'),'slds-show','slds-hide')}" role="tabpanel" aria-labelledby="tab-scoped-4__item"> 
                
                <apex:outputPanel rendered="{!selectedTab == 'q2'}" id="q2Panel" layout="block">
                    <ul class="slds-list--vertical slds-has-dividers--bottom-space slds-has-selection">
                        
                        <apex:variable value="1" var="scoreRank"/>
                        <apex:repeat value="{!q2}" var="s">                    
                            <li class="slds-list__item">
                                <div class="slds-grid slds-wrap">                            
                                    <div class="slds-media slds-tile" >
                                        
                                        <table class="slds-table slds-wrap slds-table_cell-buffer" >
                                            <thead>
                                                <tr class="slds-text-title_caps">
                                                    <th scope="col">
                                                        <div class="slds-truncate" title="Userrank"></div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 100px; font-weight : bold">
                                                        <div class="slds-truncate" title="User">User</div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 170px; font-weight : bold">
                                                        <Div Class = 'slds-truncate' title = "UserTeam">{!$Label.CG_Leaderboard_SalesTeam}</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund">Befintlig Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ny Kund">Ny Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">Befintlig Kund Ny Kontakt</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Bredda Affären">Bredda Affären</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">Växa Befintlig Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">Öka Avtalad Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Sambesök">Sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ej sambesök">Ej sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Points">Points</div>
                                                    </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Userrank">
                                                        <div class="slds-truncate" title="Userrank">
                                                            <div class="slds-media__figure">
                                                                <span class="slds-avatar slds-avatar--circle slds-avatar--small">
                                                                        <img src="{!s.User_Performance__r.User__r.SmallPhotoUrl}" alt="person's name" /> 
                                                                </span>
                                                                <span class="slds-badge slds-theme--shade">
                                                                    {!scoreRank}
                                                                    <apex:variable var="scoreRank" value="{!VALUE(scoreRank) + 1}"/>
                                                                </span>
                                                            </div>     
                                                        </div>
                                                    </td>
                                                    <td data-label="User">
                                                        <div class="slds-truncate" title="User" style="width : 120px">
                                                            
                                                            <p class="slds-tile__title">
                                                                <a  href="/apex/MyPerformance?ypsId={!s.Yearly_Performance_Score__c}"> {!s.User_Performance__r.User__r.Name}</a>
                                                            </p>
                                                        </div>                                                                            
                                                    </td>
                                                    <td>     
                                                        <div class = "slds-truncate" title="userTeam">{!s.Yearly_Performance_Score__r.Cygate_Sales_Team__c}</div>    
                                                    </td>
                                                    <td data-label="Befintlig Kund">
                                                        <div class="slds-truncate" title="Befintlig Kund">{!s.Befintlig_Kund__c * 2} P</div>
                                                    </td>
                                                    <td data-label="Ny Kund">
                                                        <div class="slds-truncate" title="Ny Kund">{!s.Ny_Kund__c *6} P</div>
                                                    </td>
                                                    <td data-label="Befintlig Kund Ny Kontakt">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">{!s.Befintlig_Kund_Ny_Kontakt__c *4} P</div>
                                                    </td>
                                                    <td data-label="Bredda Affären">
                                                        <div class="slds-truncate" title="Bredda Affären">{!s.Bredda_Aff_ren__c *4} P</div>
                                                    </td>
                                                    <td data-label="Växa Befintlig Affär">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">{!s.V_xa_Befintlig_Aff_r__c *2} P</div>
                                                    </td>
                                                    <td data-label="Öka Avtalad Affär">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">{!s.ka_Avtalad_Aff_r__c *4} P</div>
                                                    </td>
                                                    <td data-label="Sambesök">
                                                        <div class="slds-truncate" title="Sambesök">{!s.Sambes_k__c *4} P</div>
                                                    </td>
                                                    <td data-label="Ej sambesök">
                                                        <div class="slds-truncate" title="Ej sambesök">{!s.Esambes_k__c *2} P</div>
                                                    </td>
                                                    <td data-label="Points">
                                                        <div class="slds-truncate" title="Points">{!s.Total_Points__c} P</div>
                                                    </td>
                                                    
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="slds-col--bump-left">
                                        <div class="slds-text-heading--label points">{!s.Total_Points__c} P</div>  
                                    </div>   
                                    
                                </div>
                            </li>
                        </apex:repeat> 
                    </ul>
                </apex:outputPanel>
            </div>
            
            <div id="tab-scoped-5" class="slds-tabs--scoped__content {!IF((selectedTab == 'q3'),'slds-show','slds-hide')}" role="tabpanel" aria-labelledby="tab-scoped-5__item"> 
                
                <apex:outputPanel rendered="{!selectedTab == 'q3'}" id="q3Panel" layout="block">
                    <ul class="slds-list--vertical slds-has-dividers--bottom-space slds-has-selection">
                        
                        <apex:variable value="1" var="scoreRank"/>
                        <apex:repeat value="{!q3}" var="s">                    
                            <li class="slds-list__item">
                                <div class="slds-grid slds-wrap">                            
                                    <div class="slds-media slds-tile" >
                                        
                                        <table class="slds-table slds-wrap slds-table_cell-buffer" >
                                            <thead>
                                                <tr class="slds-text-title_caps">
                                                    <th scope="col">
                                                        <div class="slds-truncate" title="Userrank"></div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 100px ; font-weight : bold">
                                                        <div class="slds-truncate" title="User">User</div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 170px ; font-weight : bold">
                                                        <Div Class = 'slds-truncate' title = "UserTeam">{!$Label.CG_Leaderboard_SalesTeam}</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund">Befintlig Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ny Kund">Ny Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">Befintlig Kund Ny Kontakt</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Bredda Affären">Bredda Affären</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">Växa Befintlig Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">Öka Avtalad Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Sambesök">Sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ej sambesök">Ej sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Points">Points</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Userrank">
                                                        <div class="slds-truncate" title="Userrank">
                                                            <div class="slds-media__figure">
                                                                <span class="slds-avatar slds-avatar--circle slds-avatar--small">
                                                                       <img src="{!s.User_Performance__r.User__r.SmallPhotoUrl}" alt="person's name" /> 
                                                                </span>
                                                                <span class="slds-badge slds-theme--shade">
                                                                    {!scoreRank}
                                                                    <apex:variable var="scoreRank" value="{!VALUE(scoreRank) + 1}"/>
                                                                </span>
                                                            </div>     
                                                        </div>
                                                    </td>
                                                    <td data-label="User">
                                                        <div class="slds-truncate" title="User" style="width : 120px">
                                                            
                                                            <p class="slds-tile__title">
                                                                <a  href="/apex/MyPerformance?ypsId={!s.Yearly_Performance_Score__c}"> {!s.User_Performance__r.User__r.Name}</a>
                                                            </p>
                                                        </div>                                                                            
                                                    </td>
                                                    <td>     
                                                        <div class = "slds-truncate" title="userTeam">{!s.Yearly_Performance_Score__r.Cygate_Sales_Team__c}</div>    
                                                    </td>
                                                    <td data-label="Befintlig Kund">
                                                        <div class="slds-truncate" title="Befintlig Kund">{!s.Befintlig_Kund__c * 2} P</div>
                                                    </td>
                                                    <td data-label="Ny Kund">
                                                        <div class="slds-truncate" title="Ny Kund">{!s.Ny_Kund__c *6} P</div>
                                                    </td>
                                                    <td data-label="Befintlig Kund Ny Kontakt">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">{!s.Befintlig_Kund_Ny_Kontakt__c *4} P</div>
                                                    </td>
                                                    <td data-label="Bredda Affären">
                                                        <div class="slds-truncate" title="Bredda Affären">{!s.Bredda_Aff_ren__c *4} P</div>
                                                    </td>
                                                    <td data-label="Växa Befintlig Affär">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">{!s.V_xa_Befintlig_Aff_r__c *2} P</div>
                                                    </td>
                                                    <td data-label="Öka Avtalad Affär">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">{!s.ka_Avtalad_Aff_r__c *4} P</div>
                                                    </td>
                                                    <td data-label="Sambesök">
                                                        <div class="slds-truncate" title="Sambesök">{!s.Sambes_k__c *4} P</div>
                                                    </td>
                                                    <td data-label="Ej sambesök">
                                                        <div class="slds-truncate" title="Ej sambesök">{!s.Esambes_k__c *2} P</div>
                                                    </td>
                                                    <td data-label="Points">
                                                        <div class="slds-truncate" title="Points">{!s.Total_Points__c} P</div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="slds-col--bump-left">
                                        <div class="slds-text-heading--label points">{!s.Total_Points__c} P</div>  
                                    </div>   
                                </div>
                            </li>
                        </apex:repeat> 
                    </ul>
                </apex:outputPanel>
            </div>
            
            
            <div id="tab-scoped-6" class="slds-tabs--scoped__content {!IF((selectedTab == 'q4'),'slds-show','slds-hide')}" role="tabpanel" aria-labelledby="tab-scoped-6__item"> 
                
                <apex:outputPanel rendered="{!selectedTab == 'q4'}" id="q4Panel" layout="block">
                    <ul class="slds-list--vertical slds-has-dividers--bottom-space slds-has-selection">
                        
                        <apex:variable value="1" var="scoreRank"/>
                        <apex:repeat value="{!q4}" var="s">                    
                            <li class="slds-list__item">
                                <div class="slds-grid slds-wrap">                            
                                    <div class="slds-media slds-tile" >
                                        
                                        <table class="slds-table slds-wrap slds-table_cell-buffer">
                                            <thead>
                                                <tr class="slds-text-title_caps">
                                                    <th scope="col">
                                                        <div class="slds-truncate" title="Userrank"></div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 100px ;font-weight : bold">
                                                        <div class="slds-truncate" title="User">User</div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 170px; font-weight : bold">
                                                        <Div Class = 'slds-truncate' title = "UserTeam">{!$Label.CG_Leaderboard_SalesTeam}</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund">Befintlig Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ny Kund">Ny Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">Befintlig Kund Ny Kontakt</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Bredda Affären">Bredda Affären</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">Växa Befintlig Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">Öka Avtalad Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Sambesök">Sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ej sambesök">Ej sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Points">Points</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Userrank">
                                                        <div class="slds-truncate" title="Userrank">
                                                            <div class="slds-media__figure">
                                                                <span class="slds-avatar slds-avatar--circle slds-avatar--small">
                                                                      <img src="{!s.User_Performance__r.User__r.SmallPhotoUrl}" alt="person's name" /> 
                                                                </span>
                                                                <span class="slds-badge slds-theme--shade">
                                                                    {!scoreRank}
                                                                    <apex:variable var="scoreRank" value="{!VALUE(scoreRank) + 1}"/>
                                                                </span>
                                                            </div>     
                                                        </div>
                                                    </td>
                                                    <td data-label="User">
                                                        <div class="slds-truncate" title="User" style="width : 120px">
                                                            
                                                            <p class="slds-tile__title">
                                                                <a  href="/apex/MyPerformance?ypsId={!s.Yearly_Performance_Score__c}"> {!s.User_Performance__r.User__r.Name}</a>
                                                            </p>
                                                        </div>                                                                            
                                                    </td>
                                                    <td>     
                                                        <div class = "slds-truncate" title="userTeam">{!s.Yearly_Performance_Score__r.Cygate_Sales_Team__c}</div>    
                                                    </td>
                                                    <td data-label="Befintlig Kund">
                                                        <div class="slds-truncate" title="Befintlig Kund">{!s.Befintlig_Kund__c * 2} P</div>
                                                    </td>
                                                    <td data-label="Ny Kund">
                                                        <div class="slds-truncate" title="Ny Kund">{!s.Ny_Kund__c *6} P</div>
                                                    </td>
                                                    <td data-label="Befintlig Kund Ny Kontakt">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">{!s.Befintlig_Kund_Ny_Kontakt__c *4} P</div>
                                                    </td>
                                                    <td data-label="Bredda Affären">
                                                        <div class="slds-truncate" title="Bredda Affären">{!s.Bredda_Aff_ren__c *4} P</div>
                                                    </td>
                                                    <td data-label="Växa Befintlig Affär">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">{!s.V_xa_Befintlig_Aff_r__c *2} P</div>
                                                    </td>
                                                    <td data-label="Öka Avtalad Affär">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">{!s.ka_Avtalad_Aff_r__c *4} P</div>
                                                    </td>
                                                    <td data-label="Sambesök">
                                                        <div class="slds-truncate" title="Sambesök">{!s.Sambes_k__c *4} P</div>
                                                    </td>
                                                    <td data-label="Ej sambesök">
                                                        <div class="slds-truncate" title="Ej sambesök">{!s.Esambes_k__c *2} P</div>
                                                    </td>
                                                    <td data-label="Points">
                                                        <div class="slds-truncate" title="Points">{!s.Total_Points__c} P</div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="slds-col--bump-left">
                                        <div class="slds-text-heading--label points">{!s.Total_Points__c} P</div>  
                                    </div>   
                                    
                                </div>
                            </li>
                        </apex:repeat> 
                    </ul>
                </apex:outputPanel>
            </div>
            
             <div id="tab-scoped-7" class="slds-tabs--scoped__content {!IF((selectedTab == 'PYscore'),'slds-show','slds-hide')}" role="tabpanel" aria-labelledby="tab-scoped-7__item"> 
                
              <apex:outputPanel rendered="{!selectedTab == 'PYscore'}" id="pyscorePanel" layout="block">
                    <ul class="slds-list--vertical slds-has-dividers--bottom-space slds-has-selection">
                        
                        <apex:variable value="1" var="scoreRank"/>
                        <apex:repeat value="{!PYscores}" var="s">                    
                            <li class="slds-list__item">
                                <div class="slds-grid slds-wrap">                            
                                    <div class="slds-media slds-tile">
                                        <table class="slds-table slds-wrap slds-table_cell-buffer">
                                            <thead>
                                                <tr class="slds-text-title_caps">
                                                    <th scope="col">
                                                        <div class="slds-truncate" title="Userrank"></div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 100px ; font-weight : bold">
                                                        <div class="slds-truncate" title="User">User</div>
                                                        
                                                    </th>
                                                    <th scope="col" style="width : 170px ; font-weight : bold">
                                                        <Div Class = 'slds-truncate' title = "UserTeam">{!$Label.CG_Leaderboard_SalesTeam}</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund">Befintlig Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ny Kund">Ny Kund</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">Befintlig Kund Ny Kontakt</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Bredda Affären">Bredda Affären</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">Växa Befintlig Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">Öka Avtalad Affär</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Sambesök">Sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Ej sambesök">Ej sambesök</div>
                                                    </th>
                                                    <th scope="col" style= "font-weight : bold">
                                                        <div class="slds-truncate" title="Points">Points</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Userrank">
                                                        <div class="slds-truncate" title="Userrank">
                                                            <div class="slds-media__figure">
                                                                <span class="slds-avatar slds-avatar--circle slds-avatar--small">
                                                                    <img src="{!s.User_Performance__r.User__r.SmallPhotoUrl}" alt="person's name" />
                                                                </span>
                                                                <span class="slds-badge slds-theme--shade">
                                                                    {!scoreRank}
                                                                    <apex:variable var="scoreRank" value="{!VALUE(scoreRank) + 1}"/>
                                                                </span>
                                                            </div>     
                                                        </div>
                                                    </td>
                                                    <td data-label="User">
                                                        <div class="slds-truncate" title="User" style="width : 120px">
                                                            
                                                            <p class="slds-tile__title">
                                                                <a  href="/apex/MyPerformance?ypsId={!s.Id}"> {!s.User_Performance__r.User__r.Name}</a>
                                                            </p>
                                                        </div>                                                                            
                                                    </td>
                                                    <td>     
                                                        <div class = "slds-truncate" title="userTeam">{!s.Cygate_Sales_Team__c}</div>    
                                                    </td>
                                                    <td data-label="Befintlig Kund">
                                                        <div class="slds-truncate" title="Befintlig Kund">{!s.Befintlig_Kund__c * 2} P</div>
                                                    </td>
                                                    <td data-label="Ny Kund">
                                                        <div class="slds-truncate" title="Ny Kund">{!s.Ny_Kund__c *6} P</div>
                                                    </td>
                                                    <td data-label="Befintlig Kund Ny Kontakt">
                                                        <div class="slds-truncate" title="Befintlig Kund Ny Kontakt">{!s.Befintlig_Kund_Ny_Kontakt__c *4} P</div>
                                                    </td>
                                                    <td data-label="Bredda Affären">
                                                        <div class="slds-truncate" title="Bredda Affären">{!s.Bredda_Aff_ren__c *4} P</div>
                                                    </td>
                                                    <td data-label="Växa Befintlig Affär">
                                                        <div class="slds-truncate" title="Växa Befintlig Affär">{!s.V_xa_Befintlig_Aff_r__c *2} P</div>
                                                    </td>
                                                    <td data-label="Öka Avtalad Affär">
                                                        <div class="slds-truncate" title="Öka Avtalad Affär">{!s.ka_Avtalad_Aff_r__c *4} P</div>
                                                    </td>
                                                    <td data-label="Sambesök">
                                                        <div class="slds-truncate" title="Sambesök">{!s.Sambes_k__c *4} P</div>
                                                    </td>
                                                    <td data-label="Ej sambesök">
                                                        <div class="slds-truncate" title="Ej sambesök">{!s.Esambes_k__c *2} P</div>
                                                    </td>
                                                    <td data-label="Points">
                                                        <div class="slds-truncate" title="Points">{!s.Total_Points__c} P</div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>                                                  
                                    </div>  
                                    <div class="slds-col--bump-left">
                                        <div class="slds-text-heading--label points">{!s.Total_Score__c} P</div>  
                                    </div>  
                                </div>
                            </li>
                        </apex:repeat> 
                    </ul>
                </apex:outputPanel>
            </div>
            <div id="tab-scoped-8" class="slds-tabs--scoped__content {!IF((selectedTab == 'pointtab'),'slds-show','slds-hide')}" role="tabpanel" aria-labelledby="tab-scoped-8__item"> 
                
                
                <apex:outputPanel rendered="{!selectedTab == 'pointtab'}" id="pointtabpanel" layout="block">
                       <tr><td>Poängstruktur:</td></tr> 
                       <tr><td><br/></td></tr>
                       <tr><td>Så här samlas poäng in för aktiviteter taggade som Fysisk möte, Web möte och Telefon möte. (Taggar man aktiviteter på annat sätt så räknas inte poängen). <br/></td></tr>
                       <tr><td><br/></td></tr>
                       <tr><td>Kund status: <br/></td></tr>
                       <tr><td> Befintlig kund = 2P</td></tr>
                       <tr><td>Befintlig kund, ny kontakt = 4P</td></tr>
                       <tr><td>Ny kund = 6P </td></tr>
                       <tr><td>Sambesök* = 4P </td></tr>
                       <tr><td>Ej Sambesök* = 2P</td></tr>
                       <tr><td>Bredda affären = 4P</td></tr>
                       <tr><td>Växa befintlig affär = 2P</td></tr>
                       <tr><td>Öka avtalad affär = 4P</td></tr>
                       <tr><td><br/></td></tr>
                       <tr><td>*Sambesök logik set up; aktiviteten flaggas automatiskt i systemet som sambesök om man i kontaktfältet (förutom kundkontakten) har angett en person eller flera som tillhör nedan konton: <br/></td></tr>
                       <tr><td>-<span style="font-weight:bold">Cygate AB&nbsp;</span>(org. nr: 5565498952) om kollegan har rollen Business Area/Business Area Chef/Hybrid IT &amp; Cloud/Infrastruktur</td></tr>
                       <tr><td>och/eller</td></tr>
                       <tr><td>-<span style="font-weight:bold">Telia AB&nbsp;</span>(org. nr: 6703065083)<br/></td></tr>
                       <tr><td>och/eller</td></tr>
                       <tr><td>-<span style="font-weight:bold">Strategiska partners;</span> dvs. kontakter tillhörande konton som taggats som "Strategisk partner" i fält "Cygate leverantörstyp".<br/><br/></td></tr>
                       <tr><td>T.ex. Fysiskt möte: Befintlig kund (2p) + Sambesök (4p) + Bredda affären (4p) = 10p.</td></tr>
                       <tr><td></td></tr>                         
                </apex:outputPanel>
            </div>
        </div>    
    </apex:form>  
</apex:page>