<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" standardController="scrive__ScriveDocument__c" extensions="scrive.ScriveOneExtension">
    
    <script src="/soap/ajax/29.0/connection.js"></script>
    <script type='text/javascript' src='/canvas/sdk/js/publisher.js'/>
    <script src="https://mobile1.t.salesforce.com/soap/ajax/30.0/connection.js" type="text/javascript" />

    <apex:includeScript value="{!URLFOR($Resource.scrive__ScriveResources, 'js/jQuery.js')}"/>
    <script>
        $(document).ready(function() {
            refreshFromScriveRemote();
        }); 

        function redirectonComplete(){
            Sfdc.canvas.publisher.publish({name: "publisher.close", payload:{ refresh:"true"}});
            sforce.one.navigateToSObject('{!scrive__ScriveDocument__c.Id}', 'detail');
        }

        function showErrorMessage(errorMessage){            
            $('#alert-message').find('h2').html(errorMessage);
            $('#alert-message').removeClass('slds-hide');

            $('div.center').hide();
        }

        function refreshFromScriveRemote(){
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.ScriveOneExtension.refreshFromScriveRemote}',
                '{!scrive__ScriveDocument__c.Id}',
                function(result, event){
                    if(!result.isSuccess){
                        showErrorMessage(result.errorMessage);
                    } else {
                        redirectonComplete();
                    }
                }
            );
        }
    </script>
    <c:ScriveOneActionSpinner waitingText="Refreshing in Progress" />
</apex:page>