<apex:page showHeader="true" sidebar="true" standardController="scrive__scriveProcessTemplate__c" extensions="scrive.ScriveProcessTemplateWizardExtension" tabStyle="scrive__scriveProcessTemplate__c">
	<apex:sectionHeader subtitle="Step 5/5 Define Document Mappings" title="{!IF(ISBLANK(scrive__scriveProcessTemplate__c.Name), 'New Scrive Process Template', scrive__scriveProcessTemplate__c.Name)}" />

	<apex:form >
		<apex:pageBlock title="Define Document Mappings" mode="edit ">
			<apex:pageBlockButtons location="top">
				<apex:commandButton value="<< Previous" action="{!redirectStep4}" /> 
				<apex:commandButton value="Save" action="{!save}" />
				<apex:commandButton value="Save & Add Attachment" action="{!saveAndAddAttachment}" />
				<apex:commandButton value="Cancel" action="{!Cancel}" />
			</apex:pageBlockButtons>
			<div style="padding: 10px">
                <apex:outputText value="{!$Label.scrive__scriveprocesstemplatemapping}" escape="false"/>
            </div>
			<apex:pageBlock id="StandardMappingTable" title="Standard Scrive Fields">
				<apex:pageBlockTable value="{!templateStandardMappings}" var="mapping">					
					<apex:column headerValue="Scrive Field">
						<apex:outputField value="{!mapping.record.Name}" />
					</apex:column>	
					<apex:column headerValue="{!$ObjectType.scrive__scriveProcessTemplateMapping__c.fields.scrive__salesforceField__c.label}">
						<apex:inputField value="{!mapping.record.scrive__salesforceField__c}"/> 
						<apex:commandLink value="Edit" immediate="true" onclick="openDialog($(this).prev(), $(this).parent().prev().find('span'), true)" rerender="nothing" style="margin-left: 5px;"/>
					</apex:column>
				</apex:pageBlockTable>
			</apex:pageBlock>

			<apex:pageBlock id="customMappingTable" title="Custom Scrive Fields">
				<apex:pageBlockButtons location="top">
					<apex:commandButton action="{!addMapping}" value="Add Mapping" reRender="customMappingTable" onclick="lock()" oncomplete="addMappingOnComplete()"/>
					</apex:pageBlockButtons>
				<apex:pageBlockTable value="{!templateCustomMappings}" var="mapping">					
					<apex:column headerValue="Scrive Field">
						<apex:inputField id="ScriveCustomFieldName" value="{!mapping.record.Name}" required="true"/>
					</apex:column>	
					<apex:column headerValue="{!$ObjectType.scrive__scriveProcessTemplateMapping__c.fields.scrive__salesforceField__c.label}">
						<apex:inputField value="{!mapping.record.scrive__salesforceField__c}" id="SalesforceCustomField"/> 
						<apex:commandLink value="Edit" immediate="true" onclick="openDialog($(this).prev(), $(this).parent().prev().find('input'), false)" rerender="nothing" style="margin-left: 5px;"/>
					</apex:column>
				</apex:pageBlockTable>
			</apex:pageBlock>
		</apex:pageBlock>
	</apex:form>
	<c:ScriveFieldMappingComponent />
</apex:page>