<apex:page standardController="scrive__ScriveDocument__c" extensions="scrive.ScriveViewDocumentController" doctype="html-5.0" standardStylesheets="false" action="{!fetchRemoteDocumentAttachments}">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <title>Scrive Document</title>
            <apex:stylesheet value="{!URLFOR($Resource.scrive__SLDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
            <apex:includeScript value="{!URLFOR($Resource.scrive__ScriveResources, 'js/jQuery.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.scrive__ScriveResources, 'js/CloudityCommons.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.scrive__jQuery_UI, '/jquery-ui.min.js')}"  />
            <apex:stylesheet value="{!URLFOR($Resource.scrive__jQuery_UI, '/jquery-ui.css')}"  />
            <script>
            $(function() {
                
                var attachmentId = '{!JSENCODE(attachmentId)}';
                var previewPanel = document.getElementById('details');
                
                
                if(previewPanel) {
                    Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.ScriveViewDocumentController.downloadPdfBase64}',
                        '{!JSENCODE(document.record.scrive__externalId__c)}',
                        installPdf
                    );
                }
                hideSidebarAndHeaderinConsole();
            });
            
            function installPdf(result, event) {
                showPdf('data:application/pdf;base64,' + result);
            }
            
        function showAttachment(data)  {
            var previewPanel = document.getElementById('attachmentView');
            var attachmentPanelBody = document.createElement('div');
            attachmentPanelBody.id = 'attachmentPanelBody';
            
            var object = document.createElement('object');
            object.setAttribute('type', 'application/pdf');
            object.setAttribute('data', 'data:application/pdf;base64,' + data);
            console.log('{!activeAttachmentB64}');
            object.setAttribute('width', '100%');
            object.setAttribute('height', '100%');
            attachmentPanelBody.appendChild(object);
            
            previewPanel.innerHTML = '';
            previewPanel.appendChild(attachmentPanelBody);
        }
            
            function showPdf(url) {
                var previewPanel = document.getElementById('details');
                var previewPanelBody = document.createElement('div');
                previewPanelBody.id = 'previewPanelBody';
                
                var object = document.createElement('object');
                object.setAttribute('type', 'application/pdf');
                object.setAttribute('data', url);
                object.setAttribute('width', '100%');
                object.setAttribute('height', '100%');
                previewPanelBody.appendChild(object);
                
                previewPanel.innerHTML = '';
                previewPanel.appendChild(previewPanelBody);
            }
            
            function btnTriggered(btn, label) {
                btn.className = 'btnDisabled';
                btn.disabled = true;
                btn.value = ' ' + label + ' ... ';
                return true;
            }
            
            function doSomeWork(action, btn, label){
                if(action == 'Edit'){
                    editScriveDocument();
                }
                btnTriggered(btn, label);
                
                return false;
            }     
            
            </script>
            <style>
                .previewPanelLoading {
                text-align: center;
                padding: 10px;
                }
                
                #previewPanelBody {
                border: 1px solid #333;
                background-color: gray;
                height: 500px;
                margin: 10px;
                }
                
                #attachmentPanelBody {
                border: 1px solid #333;
                background-color: gray;
                height: 100%;
                margin: 10px;
                }
                
                input[type="text"] {
                padding: 5px;
                width: 95%;
                }
                
                .center {
                text-align: center;
                padding: 10px;
                }
                
                            
                .attachmentView {
                position: fixed; 
                width: 800px; 
                top: 10%;
                left: 50%; 
                height: 60%;
                margin-left: -400px;
                }
                
            </style>
        </head>
        <body>
            <div class="scrive">
                <!-- <apex:pageBlock mode="maindetail"> -->
                <apex:form id="mainForm">
                    <div class="slds-page-header" role="banner">
                        <div class="slds-grid">
                            <div class="slds-col slds-has-flexi-truncate">
                                <div class="slds-media slds-no-space slds-grow">
                                    <div class="slds-media__figure">
                                        <svg aria-hidden="true" class="slds-icon">
                                            <img src="{!URLFOR($Resource.SLDS, 'assets/icons/standard/document_120.png')}" class="slds-icon slds-icon-standard-user" alt="" />
                                        </svg>
                                    </div>
                                    <div class="slds-media__body">
                                        <p class="slds-text-title--caps slds-line-height--reset">Scrive Document View Page</p>show
                                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="Scrive Document - {!document.record.Name}">{!document.record.Name}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                                <div class="slds-button-group" role="group">
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" value=" Edit " rendered="{!canSend}" status="status" action="{!URLFOR($Page.LightningSendDocumentViaScriveStep2 + '?Id=' + document.record.Id)}" >
                                        <apex:actionSupport rerender="messages, errors"/>
                                    </apex:commandLink>
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" value=" Send " rendered="{!canSend}" action="{!send}" status="status" >
                                        <apex:actionSupport rerender="messages, errors"/>
                                    </apex:commandLink>
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" value=" Send reminder " rendered="{!canSendReminder}" action="{!sendReminder}" status="status" >
                                        <apex:actionSupport rerender="messages, errors"/>
                                    </apex:commandLink>
                                    
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" value=" Withdraw " rendered="{!canWithdraw}" action="{!withdraw}" status="status" >
                                        <apex:actionSupport rerender="messages, errors"/>
                                    </apex:commandLink>
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" value=" Delete " action="{!remove}" status="status" rendered="{!canRemove}">
                                        <apex:actionSupport rerender="messages, errors"/>
                                    </apex:commandLink>
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" value=" View in Scrive " action="{!viewInScrive}">
                                        <apex:actionSupport rerender="messages, errors"/>
                                    </apex:commandLink>
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" value=" Refresh " action="{!refreshFromScrive}" status="status" >
                                        <apex:actionSupport rerender="messages, errors"/>
                                    </apex:commandLink>
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" rerender="messages" value=" Forward " rendered="{!scrive__ScriveDocument__c.scrive__status__c == 'Signed'}" onclick="$('#forwardEmailPopup').show(); return false;">
                                        <apex:actionSupport rerender="messages, errors"/>
                                    </apex:commandLink>
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" value=" Restart " rendered="{!canRestart}" action="{!restartDocument}" />
                                    <apex:commandLink styleClass="slds-button slds-button--neutral slds-not-selected" value=" Remove Pages " rendered="{!canRemovePages}" onclick="$('#removePagesPopup').show();" rerender="blank" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <apex:outputPanel id="noAccessMsg" rendered="{!lghShowNoAccessMsg}">
                        <div class="slds-notify slds-m-around--small slds-notify--alert slds-theme--info  slds-theme--alert-texture" role="alert">
                            <apex:outputText value="Limited Access - Remote Attachments could not be fetched." /> 
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel id="errors" rendered="{!hasErrors}">
                        <div class="slds-notify slds-m-around--small slds-notify--alert slds-theme--error slds-theme--alert-texture" role="alert">
                            <apex:outputText styleClass="defaultMsg" value="We were not able to send the document due to following errors:" rendered="{!hasSendingError}" /> 
                            <apex:messages />
                        </div>
                    </apex:outputPanel>                 
                    
                    <apex:outputPanel id="messages" rendered="{!NOT(ISBLANK(successMessageToDisplay))}">
                        
                        <div class="slds-notify slds-m-around--small slds-notify--alert slds-theme--inverse slds-theme--alert-texture" role="alert">
                            <apex:outputText styleClass="defaultMsg" value="We were not able to send the document due to following errors:" rendered="{!hasSendingError}" /> 
                            {!successMessageToDisplay}
                        </div>
                    </apex:outputPanel>                        
                    
                    <div class="slds-box slds-m-around--small">
                        <div class="slds-m-bottom--medium">
                            <h2 class="slds-text-title--caps slds-line-height--reset">
                                Scrive Document Information
                            </h2>
                        </div>
                        
                        <apex:detail inlineEdit="false" relatedList="false" title="false"/>
                        
                    </div>
                    
                    <div id="details" class="slds-box slds-p-around--small slds-m-around--small">
                        
                    </div>
                    
                    <apex:actionFunction action="{!fetchChosenAttachment}" name="fetchChosenAttachment" rerender="activeAttachmentView">
                        <apex:param assignTo="{!selectedAttScriveId}" name="attachmentId" value="" />
                    </apex:actionFunction>
                    <div class="slds-box slds-m-around--small">
                        <div class="slds-m-bottom--medium">
                            <h2 class="slds-text-title--caps slds-line-height--reset">
                                Scrive Attachments
                            </h2>
                        </div>
                        <table class="slds-table slds-table--bordered slds-m-bottom--none slds-no-row-hover">
                            <thead>
                                <tr class="slds-text-title--caps slds-theme--shade">
                                    <th scope="col">
                                        <div title="Action">
                                            Action
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div  title="Name">
                                            Name
                                        </div>
                                    </th>
                                </tr>   
                            </thead>  
                            <tbody>
                                <apex:repeat value="{!remoteAttachments}" var="attachment">
                                    <tr>
                                        <td>
                                            <a href="#" onclick="lock(); fetchChosenAttachment('{!attachment.file_id}'); return false;">View</a>
                                        </td>
                                        <td>
                                            {!attachment.Name}
                                        </td>                                                          
                                    </tr>
                                </apex:repeat>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="slds-box slds-m-around--small">
                        <div class="slds-m-bottom--medium">
                            <h2 class="slds-text-title--caps slds-line-height--reset">
                                Parties
                            </h2>
                        </div>
                        <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-m-bottom--none">
                            <thead>
                                <tr class="slds-text-title--caps slds-theme--shade">
                                    <th scope="col">
                                        <div class="slds-truncate" title="{!$ObjectType.scrive__scriveProcessTemplateParty__c.Fields.Name.Label}">
                                            {!$ObjectType.scrive__ScriveDocumentParty__c.Fields.Name.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="{!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__signs__c.Label}">
                                            {!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__signs__c.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="{!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__signingOrder__c.Label}">
                                            {!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__signingOrder__c.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="{!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__Delivery__c.Label}">
                                            {!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__Delivery__c.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="{!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__confirmation__c.Label}">
                                            {!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__confirmation__c.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="{!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__AuthenticationToView__c.Label}">
                                            {!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__AuthenticationToView__c.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="{!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__AuthenticationToSign__c.Label}">
                                            {!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__AuthenticationToSign__c.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="{!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__signedDate__c.Label}">
                                            {!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__signedDate__c.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="{!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__status__c.Label}">
                                            {!$ObjectType.scrive__ScriveDocumentParty__c.Fields.scrive__status__c.Label}
                                        </div>
                                    </th>
                                </tr>   
                            </thead>  
                            <tbody>
                                <apex:repeat value="{!scrive__ScriveDocument__c.Parties__r}" var="party">
                                    <tr>
                                        <td>
                                            <apex:commandLink action="{!URLFOR($Action.ScriveDocumentParty__c.View, party.Id)}" value="{!party.Name}" />
                                        </td>
                                        <td>
                                            <apex:outputField value="{!party.scrive__signs__c}" />
                                        </td>
                                        <td>
                                            <apex:outputText value="{0, number, 0}">
                                                <apex:param value="{!party.scrive__signingOrder__c}" />
                                            </apex:outputText>
                                        </td>                             
                                        <td>
                                            {!party.scrive__Delivery__c}
                                        </td>                               
                                        <td>
                                            {!party.scrive__confirmation__c}
                                        </td>                               
                                        <td>
                                            <apex:outputField value="{!party.scrive__AuthenticationToView__c}" />
                                        </td>
                                        <td>
                                            <apex:outputField value="{!party.scrive__AuthenticationToSign__c}" />
                                        </td>                          
                                        <td>
                                            {!party.scrive__signedDate__c}
                                            
                                        </td>                         
                                        <td>
                                            {!party.scrive__status__c}
                                            
                                        </td>
                                    </tr>
                                </apex:repeat>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="slds-box slds-m-around--small">
                        <div class="slds-m-bottom--medium">
                            <h2 class="slds-text-title--caps slds-line-height--reset">
                                Scrive Document Statuses
                            </h2>
                        </div>
                        <table class="slds-table slds-table--bordered slds-m-bottom--none slds-no-row-hover">
                            <thead>
                                <tr class="slds-text-title--caps slds-theme--shade">
                                    <th scope="col">
                                        <div title="Status">
                                            Status
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div title="{!$ObjectType.ScriveDocumentStatus__c.Fields.eventTime__c.Label}">
                                            {!$ObjectType.ScriveDocumentStatus__c.Fields.eventTime__c.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div  title="{!$ObjectType.ScriveDocumentStatus__c.Fields.party__c.Label}">
                                            {!$ObjectType.ScriveDocumentStatus__c.Fields.party__c.Label}
                                        </div>
                                    </th>
                                    <th scope="col">
                                        <div title="{!$ObjectType.ScriveDocumentStatus__c.Fields.description__c.Label}">
                                            {!$ObjectType.ScriveDocumentStatus__c.Fields.description__c.Label}
                                        </div>
                                    </th>
                                </tr>   
                            </thead>  
                            <tbody>
                                <apex:repeat value="{!scrive__ScriveDocument__c.Scrive_Document_Statuses__r}" var="status">
                                    <tr>
                                        <td>
                                            {!status.Name} 
                                        </td>
                                        <td>
                                            
                                            <apex:outputText value="{0,date,yyyy.MM.dd 'at' HH:mm:ss}">
                                                <apex:param value="{!status.scrive__eventTime__c}" />
                                            </apex:outputText>
                                        </td>
                                        <td>
                                            {!status.scrive__Party__c}
                                        </td>                             
                                        <td style="white-space: normal;">{!status.scrive__Description__c}</td>                               
                                    </tr>
                                </apex:repeat>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="slds-grid slds-m-around--small">
                        <div class="slds-col slds-box slds-size---1of-3">
                            <div class="slds-m-bottom--medium">
                                <h2 class="slds-text-title--caps slds-line-height--reset">
                                    Attachments
                                </h2>
                            </div>
                            
                            
                            <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-m-bottom--none">
                                <thead>
                                    <tr class="slds-text-title--caps slds-theme--shade">
                                        <th scope="col">
                                            <div class="slds-truncate" title="{!$ObjectType.CombinedAttachment.Fields.Title.Label}">
                                                {!$ObjectType.CombinedAttachment.Fields.Title.Label}
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="{!$ObjectType.CombinedAttachment.Fields.LastModifiedDate.Label}">
                                                {!$ObjectType.CombinedAttachment.Fields.LastModifiedDate.Label}
                                            </div>
                                        </th>
                                    </tr>   
                                </thead>  
                                <tbody id="attachmentsTableBody">
                                    <apex:repeat value="{!scrive__ScriveDocument__c.CombinedAttachments}" var="attachment">
                                        <tr>
                                            <td>
                                                <a href="/{!attachment.Id}">{!attachment.Title}</a>
                                            </td>                           
                                            <td>
                                                <apex:outputText value=" {0,date,EEE MMM d, yyyy}">
                                                    <apex:param value="{!attachment.LastModifiedDate}"/>
                                                </apex:outputText>
                                                
                                            </td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <script>
                    function openForwardEmailPopup() {
                        $("#forwardEmailPopup").dialog("open");
                    }
                    
                    </script>
                    
                </apex:form>
                <apex:form id="secondaryForm">
                    <div id="forwardEmailPopup" class="popup" style="display: none">
                        <div role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal--prompt">
                            
                            <div class="slds-modal__container">
                                <div class="slds-modal__header slds-theme--inverse slds-theme--alert-texture">
                                    
                                    <h2 class="slds-text-heading--medium" id="prompt-heading-id">Enter e-mail address:</h2>
                                </div>
                                <div class="slds-modal__content slds-p-around--medium">
                                    <div>
                                        <apex:inputText styleClass="slds-input" value="{!forwardReceipent}" id="emailField" />
                                    </div>
                                </div>
                                <div class="slds-modal__footer slds-theme--default">
                                    <apex:commandLink styleClass="slds-button slds-button--neutral"  
                                                      action="{!forwardDocument}" onclick="lock()" 
                                                      oncomplete="$('#forwardEmailPopup').hide(); unlock(); return false;" 
                                                      rerender="messages"
                                                      status="loader" value="Send" />
                                    
                                    <button type="button" class="slds-button slds-button--neutral" 
                                            onclick="$('#forwardEmailPopup').hide();">Cancel</button>
                                </div>
                            </div>
                            
                        </div>   
                    </div> 
                    <div style="display:none;" id="removePagesPopup" role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal--prompt">
                        <div class="slds-modal__container">
                            <div class="slds-modal__header slds-theme--warning slds-theme--alert-texture">
                                <h2 class="slds-text-heading--medium">Remove Pages</h2>
                            </div>
                            <div class="slds-modal__content slds-p-around--medium">
                                <apex:outputPanel id="removePagesPopup">
                                    <apex:outputPanel id="popupMessages"> 
                                        <apex:outputPanel rendered="{!hasMessages}" styleClass="slds-align--absolute-center slds-m-around--small">
                                            <apex:messages styleClass="slds-required" />   
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label">Insert pages to delete: (pages numbers separated by comas e.g. "1, 3, 5")</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputText value="{!pagesToRemove}" id="pagesToRemove" styleClass="slds-input" /><br />
                                        </div>
                                    </div> 
                                    <div class="slds-required slds-align--absolute-center">
                                        Please notice that once removed pages cannot be restored!
                                    </div>
                                </apex:outputPanel>
                            </div>
                            <div class="slds-modal__footer slds-theme--default">
                                <apex:commandLink styleClass="slds-button slds-button--neutral" action="{!removePages}" onclick="lock();" 
                                                  oncomplete="unlock(); return false;" 
                                                  rerender="popupMessages"
                                                  status="loader" value=" Remove Pages " /> 
                                <apex:commandLink styleClass="slds-button slds-button--neutral" action="{!clearRemovePagesMessages}" onclick="$('#removePagesPopup').hide();" 
                                                  rerender="removePagesPopup"
                                                  status="loader" value=" Cancel " /> 
                            </div>
                        </div>
                    </div> 
                    
                  <apex:outputPanel id="activeAttachmentView" layout="none">
                    <apex:outputPanel id="innerAttachmentViewPanel" layout="block" rendered="{!activeAttachmentB64 != null}">
                        <script>
                        showAttachment('{!activeAttachmentB64}');
                        unlock();
                        </script>
                        <div role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal--prompt">
                            <div class="attachmentView">
                                <div class="slds-modal__header slds-theme--default slds-theme--alert-texture">
                                    
                                    <h2 class="slds-text-heading--medium" id="prompt-heading-id">View Attachment</h2>
                                </div>
                                <div style="height: 100%" class="slds-modal__content slds-p-around--medium heightLimit">
                                  
                                        <div id="attachmentView" style="height: 95%">
                                            Not able to fetch the document
                                        </div>
                            
                                </div>
                                <div class="slds-modal__footer slds-theme--default">
                                    <apex:commandLink styleClass="slds-button slds-button--neutral" 
                                                      value="Close" 
                                                      action="{!clearActiveAttachment}" 
                                                      rerender="activeAttachmentView"
                                                       />
                                </div>
                            </div>
                        </div>
                        <div class="slds-backdrop slds-backdrop--open"></div>
                        
                    </apex:outputPanel>
                </apex:outputPanel>
                    
                </apex:form> 
                
                
                
                <!-- </apex:pageBlock>                 -->
            </div>
        </body>
    </html>
</apex:page>